@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Inter:wght@200&family=Josefin+Sans:wght@300&family=Montserrat&family=Playfair+Display:ital,wght@1,500&display=swap');

/* font-family: 'Cormorant Upright', serif;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

*,::after,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #ffffff;
}


ul li {
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  
}

.liNavBtn{
flex-grow: 0.4;
justify-content: flex-end;
padding-right: 1rem;
}

.divBox{
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  border-radius: 0.7rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.divBox:hover{
  background-color: #e1e6f0;
  cursor: pointer;
}

.logo{
  padding: 2rem;
  flex-grow: 1;
}

.navItems{
  margin-left: 3rem;

}


.navItems:hover{
  color: #5410ff;
  transform: scale(1.4);
  /* transform-origin: left; */
  transition: 0.6s ease-out;
  text-shadow: 0 0 5px #101cff;
  cursor: pointer;
}



.navBtn{
  background-color: rgb(179, 3, 3);
  color: azure;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0.9rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.navBtn:hover{
  background-color: rgb(5, 93, 5);
  cursor: pointer;
}







.hero-section{
 height: 15rem;
 margin-bottom: 1rem;
}

.hero-text {
   padding-left: 10%;
   
}
.hero-image,h1{
  font-family: 'Cormorant Upright', serif;
  font-weight: bolder;
  font-size: 5rem;
}
.hero-image,h3{
  width: 50%;
  padding: 0.7rem 0 0.2rem 0;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.hero-image {
}

.second{
    
}

button{
  background-color: rgb(5, 136, 166);
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 0.7rem;
  margin-top: 0.7rem;
  border-radius: 1rem;
}



.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardsDiv{
  background-color: #b4b5b7;
  width: 30rem;
  height: 19rem;
  border-radius: 3rem;
}

.cardsBackground{
  position: absolute;
  background-color: #93969c;
  width: 100%;
  height: 15rem;
  bottom: 0rem;
  z-index: -1;
}


/* An inspiring image of a student immersed in a subject they are passionate about, surrounded by a network of interconnected students, symbolizing the collaborative learning environment. */
