.home2-hero-section{
  position: absolute;
}

.home2-hero-text {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: "Cormorant Upright", serif;
    font-family: "Archivo Black", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Yantramanav", sans-serif;
    font-weight: bolder;
    font-size: 9rem;
    color: white;
    line-height: 10rem;
  }

  .second {
    /* width: 60%; */
    padding: 0.7rem 0 0.2rem 0;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    /* background-color: #4caf50; */
    margin-top: 1rem;
    text-align: left;
  }