* {
  margin: 0;
  padding: 0;
}

.notesHead {
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
}

.inputContainer{
  background-color: transparent;
  width: 100%;
  padding: 20px 20px;
}

.branchAndSemister{
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerForBranch{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 450px;
}


.infoBtn{
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputBtns{
    background-color: rgb(114, 3, 179);
    margin: 10px 10px;
    color: azure;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}

.inputBtns:hover{
    background-color: rgb(5, 93, 5);
    cursor: pointer;
}

.arrow{
    z-index: 0;
    height: 100%;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    position: absolute;
}

#branch{
    cursor: pointer;
    width: 100%;
    margin: 20px 20px;
    padding: 10px 20px;
    appearance: none;
    border: 2px solid rgb(5, 150, 150);
    font-size: 2rem;
    color: black;
    border-radius: 0.5rem;
    background-color: aqua;
}